body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../assets/images/whats_app_image_20240901_at_003226_ccff_43_af_1.jpeg') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #424291;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

.header-title {
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.header-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.login-button {
    background-color: #3567B8;
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}

.content-title {
    margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;
}

.form-container {
    background: #FFFF;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.add-category {
    background-color: #3567B8;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.add-category:hover {
    background-color: #2c5480;
}

.categories-list-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.categories-list-table th, .categories-list-table td {
    border: 1px solid #dddddd;
    padding: 10px;
    text-align: left;
}

.categories-list-table th {
    background-color: #f4f4f4;
    font-weight: 700;
}

.edit-button, .delete-button {
    background-color: #3567B8;
    color: #FFFFFF;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 14px;
    text-decoration: none;
    margin-right: 5px;
}

.delete-button {
    background-color: #D43131;
}

.edit-button:hover {
    background-color: #2c5480;
}

.delete-button:hover {
    background-color: #b02a2a;
}

footer {
    background-color: #2121D9;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}
