body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background: url('../assets/images/pexels_photo_by_nappy.jpeg') center center / cover no-repeat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #424291;
    padding: 20px;
    text-align: center;
    color: #FFFFFF;
}

.header-title {
    font-size: 24px;
    font-weight: 700;
}

.header-links {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
}

.header-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}

.login-button {
    background-color: #3567B8;
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 16px;
    text-decoration: none;
}

main {
    padding: 20px;
    text-align: center;
    flex-grow: 1;
}
/* Style for the Submit button */
.button-container {
    text-align: center;
    margin-top: 20px;
}

.submit-button {
    background-color: #3567B8;
    color: #FFFFFF;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #2c5480;
}


.image-container {
    text-align: center;
    margin: 20px 0; /* Adjusts space above and below the image */
}

.image-container img {
    max-width: 100%; /* Ensures the image is responsive */
    height: auto; /* Maintains aspect ratio */
    border-radius: 8px; /* Optional: adds rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a subtle shadow */
}

.form-container {
    background: #FFFF;
    display: inline-block;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.matching-results {
    width: 100%;
    border-collapse: collapse;
}

.matching-results th, .matching-results td {
    border: 1px solid #cccccc;
    padding: 10px;
    text-align: left;
}

.matching-results th {
    background-color: #424291;
    color: #FFFFFF;
}

.matching-results td {
    background-color: #f9f9f9;
}

footer {
    background-color: #2121D9;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.footer-links a {
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}
